@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
}

#canvas1 {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  border: 5px solid red;
  max-width: 100%;
  max-height: 100%;
  font-family: 'Bangers';
}

.hidden {
  display: none;
}

