@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  background: black;
  width: 100%;
  height: 100%;
  margin: 0; 
  padding: 0; 
  border: solid #FFFFFF;
  border-width: thin;
  overflow:hidden;
  display:block;
  box-sizing: border-box;
}

#gameName, #gameOver {
  font-family:'Bangers';
  font-size: 3.5em;
  color: white;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -120px;
  height: 200px;
  width: 250px;
  text-align: center;
  text-shadow: 2px 2px #FF0000;
}

#startButton,#playAgainButton {
  font-family:'Bangers';
  color: white;
  position:fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  border: 3px solid #f01d0a;
  color: #f01d0a;
  text-decoration: none;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  display: block;
  width: 200px;
  text-align: center;
  font-size: 2em;
  display: inline-block;
}

#startButton:hover, #playAgainButton:hover {
  background-color: #f01d0a; 
  color:#141211;
}

#canvas1 {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  border: 5px solid red;
  max-width: 100%;
  max-height: 100%;
  font-family: 'Bangers';
}

.hidden {
  display: none;
}

span {
  font-family: 'Bangers';
  color: white;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 500;
  font-size: 1.5em;
  text-align: left;
  text-shadow: 2px 2px #FF0000;
  display: inline-block;
}
